/*@import url('http://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Ruda:400,700,900');*/
@import url("normalize.css");
.group:after {
  content: "";
  display: table;
  clear: both; }

* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .wrapper {
  min-height: 100%;
  min-width: 320px;
  max-width: 559px; }

body {
  font-family: "helvetica", sans-serif;
  font-size: 12px;
  /*background: url(../images/BreakPt320V4.jpg) no-repeat;*/
  background-position: top left; }

.logobar {
  min-width: 320px;
  max-width: 559px;
  width: 100%;
  height: 128.5px;
  background-color: #FFFFFF;
  padding: 0px;
  box-shadow: 0 8px 6px -6px #919191;
  -webkit-box-shadow: 0 8px 6px -6px #919191;
  -moz-box-shadow: 0 8px 6px -6px #919191;
  display: block;
  float: center;
  position: fixed;
  top: 0px;
  margin-bottom: 10px;
  z-index: 1000; }

.logobackground {
  height: 84px;
  width: 100%;
  margin-bottom: 8px;
  background-color: #ff0000;
  /*background: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: -95px -267px;
  background-size: 300%;*/ }

.logocontainer {
  height: 84px;
  width: 100%;
  max-width: 559px;
  background-color: none;
  top: 6px;
  left: -617px;
  margin-bottom: 8px;
  /*background: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: -95px -267px;
  background-size: 300%;*/ }

.topbar {
  margin: 0px;
  float: left; }

.search {
  height: 28px;
  width: 160px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8;
  margin-left: 15px;
  margin-right: 0px; }

.familyname {
  float: right;
  margin-right: 15px;
  margin-top: none;
  text-align: right;
  line-height: 140%; }

.signin {
  margin-top: 10px; }

/*IMAGE AREA STYLES*/
.content {
  height: 100%;
  width: 100%;
  padding-top: 138px;
  background-color: none;
  display: inline-block;
  position: relative; }

.contentbl {
  height: 100%;
  width: 100%;
  padding-top: 138px;
  display: inline-block;
  position: relative;
  background-color: #919191; }

.item-group {
  min-height: 370px;
  background: none; }

.picturebox {
  height: 317.5px;
  min-width: 290px;
  max-width: 559px;
  width: 94.5%;
  background-color: none;
  background: url(../images/pattern.svg);
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  margin-bottom: 5.5px;
  display: inline-block; }

.postedbybox {
  width: 189px;
  height: 12px;
  margin-left: 15px;
  margin-top: 2px;
  text-align: left;
  font-size: 90%;
  text-transform: uppercase;
  float: left; }

.descriptionbox {
  width: 189px;
  height: 24px;
  margin-left: 15px;
  margin-top: 2px;
  font-size: 100%;
  text-align: left;
  float: left; }

.contactbuttonm {
  float: right;
  margin-right: 10px;
  fill: #ff0000; }

/*ADD AN ITEM FORM STYLES*/
.formcontainerm {
  height: 198px;
  min-width: 290px;
  max-width: 559px;
  width: 93%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 255px;
  display: inline-block;
  background-color: none;
  position: relative;
  bottom: 0; }

.additem {
  height: 28px;
  width: 238px;
  padding-left: 5px;
  padding-top: 5px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #919191;
  float: center;
  position: relative;
  margin-top: 0px;
  margin-bottom: 10px; }

.subcontainer {
  height: 300px;
  width: 238px;
  margin-left: -119px;
  left: 50%;
  margin-right: 100%; }

.categoryselect {
  display: block;
  width: 238px;
  height: 28px;
  padding: 0px;
  font-size: 12px;
  color: black;
  margin-left: -119px;
  left: 50%;
  margin-bottom: 10px; }

/*.additembutton {
height: 28px;
width: 238px;
margin-left: $margin*1.5;
background-color: $pink;
color: $white;
}*/
.additem [type=submit] {
  background-color: #B80000;
  color: white; }

/*BOTTOM BAR STYLES*/
.bottombar {
  height: 54px;
  width: 100%;
  max-width: 559px;
  padding: 15px;
  background-color: #ff0000;
  position: fixed;
  bottom: 0px; }

.bottomtextleft {
  height: 24px;
  width: 68px;
  margin: 0px;
  display: inline-block;
  float: left; }

.bottomtextctr {
  height: 24px;
  width: 68px;
  float: center;
  margin: 0px auto; }

.bottomtextright {
  height: 24px;
  width: 68px;
  margin: 0px;
  display: inline-block;
  float: right; }

h1 {
  font-size: 36px;
  font-weight: lighter;
  color: #FFFFFF;
  text-align: center; }

h1.red {
  font-size: 36px;
  font-weight: lighter;
  color: black;
  text-align: center; }

h2 {
  font-family: 'helvetica', sans-serif;
  font-size: 15px;
  font-weight: regular;
  color: #FFFFFF;
  letter-spacing: 4px; }

p {
  font-family: 'helvetica', sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: black;
  margin: 0px; }

p.bold {
  font-family: 'helvetica', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #B80000;
  margin: 0px; }

p.postedby {
  font-family: 'helvetica', sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: black;
  margin: 0px; }

p.description {
  font-family: 'helvetica', sans-serif;
  font-size: 12px;
  font-weight: regular;
  color: black;
  margin: 0px;
  line-height: 14px; }

p.bottombold {
  font-family: 'helvetica', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  line-height: 14px; }

p.formbold {
  font-family: 'helvetica', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 10px; }

.cl {
  clear: both; }

/*# sourceMappingURL=style.css.map */
