<!DOCTYPE html>
<html ng-app="stuffExchApp">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">


	<title>Stuff Exchange</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="app/app.js"></script>
	<script type="text/javascript" src="app/controllers/listcontroller.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="scripts/modernizr.js"></script>
</head>

<body class="wrapper" >
	<nav class="logobar">

		<div class="logobackground">
			<div class="logocontainer">
				<img src="images/logo2.svg"/>
			</div>


		</div>


		
		<input div class="search" type="text" ng-model="searchFor" placeholder="SEARCH"/>
		
		<div class="familyname">
			<p>FAMILY NAME HERE</P>
				<p class="bold">LOGOUT</P>
				</div>
				<div class="familyname">

					<div class="cl">
						
					</div>

				</div>
			</div>


		</nav>

		<div ng-view></div>

		<!---BOTTOM BAR STARTS HERE-->
		<div class=bottombar>
			<div class="bottomtextleft">
				<p class="bottombold">show <br>my items</p>
			</div>

			<div class="bottomtextright" > 
				<p class="bottombold">edit<br>my items</p>
			</div>
			<div class="bottomtextctr" id="scrollArea" ng-controller="AddItemController">
				<a ng-click="gotoBottom()">
					<p class="bottombold">add to<br>my items</p>
				</a>
			</div>


			<div class="cl">

			</div>
		</div>

	</div>
</div>



<script type="text/javascript">

</script>


</body>

</html>