	<nav class="logobar">

		<div class="logobackground">
			<div class="logocontainer">
				<img src="images/logo2.svg"/>
			</div>


		</div>


		<span ng-show="currentUser" ng-controller="StatusController">
		<input div class="search"  type="text" ng-model="searchFor" placeholder="SEARCH"/>
		
		<div class="familyname">
			<p>The {{ currentUser.group_name }} Group</P>
				<a ng-href="#/" ng-click="logout()" style:text-decoration="none"><p class="bold">LOGOUT</p></a>
				</div>
			</span>
				<div class="cl">
				</div>
			</div>

					<span class="familyname" ng-hide="currentUser">
				<a ng-href="#/login"><img src="images/signin2.svg"></a>
				<a ng-href="#/register"><img src="images/signup2.svg"></a>
				</span>
				<div class="cl">
				</div>
			</div>

		</nav>