<section class="content" ng-controller="LoginController">

	<h1 class="red">Sign Up</h1>

	<form name="loginform" class="subcontainer" novalidate ng-submit="register()"> 
	<!-- 	ng-submit="addItem(adding_item)" -->

		<input type="text" class="additem" placeholder="First Name" autofocus 
		ng-required="true" ng-model="user.first_name"/>

		<input type="text" class="additem" placeholder="Last Name" 
		ng-required="true" ng-model="user.last_name"/>

		<input type="text" class="additem" placeholder="Your Stuff XChange Group Name" 
		ng-required="true" ng-model="user.group_name"/>

		<input type="email" class="additem" placeholder="Email Address" 
		ng-required="true" ng-model="user.email"/>

		<input type="password" class="additem" placeholder="Password" 
		ng-required="true" ng-model="user.password"/>

	<button type="submit" class="additem">Sign Up</button>

	</section>



